*{
  font-family: Arial, Helvetica, sans-serif;
}
.main-container{
  width: 70%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.profit-loss-btn{
  font-size: larger;
  font-weight: bold;
  padding: 10px 12px;
  border: none;
  background-color: darkcyan;
  color: white;
  cursor: pointer;
}
h1{
  font-size: 250%;
  color: rgb(20, 88, 88);
}
h2{
  color: darkcyan;
  font-size: xx-large;
}
label,.output-text,.output-warn-text{
  font-size: larger;
}
input{
  padding: 5px;
  font-size: large;
}